html {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}



body {
	color: lightgray;
	font-family: 'Hind', sans-serif;
	display: flex;
	height: 100%;

}

.banner {
	height: 400px;
	max-width: 700px;
	margin: auto;
	text-align: center;
	font-weight: 1000;
	font-size: 50px ;
}


.appName {
	font-size: 40px;
	font-weight: 600;
}

